/* Set the size of the div element that contains the map */
/* #map {
    height: 400px; */
    /* The height is 400 pixels */
    /* width: 100%; */
    /* The width is the width of the web page */
  /* } */

  * {
    font-family: sans-serif;
  }
  #debug {
    margin: 60px;
  }
  #map-canvas{
    height: 600px;
    width: auto;
    /* border: 1px solid black; */
  }
  
p{
   text-align: center;
}

/* header */
@import url(https://fonts.googleapis.com/css?family=Lato);
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font: 1em/1.5 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  font-size: 1.3em;
}

header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url(https://images.squarespace-cdn.com/content/v1/6114008f5a456d74686cec53/1638536229515-5NFYYQBIBT1FODYYOL39/Ally+logo+resize%2864%29.png) center no-repeat;
  background-size: cover;
}
header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
header h1, header h2 {
  margin: 0;
}
header h2 {
  text-transform: uppercase;
  margin-top: -.5em;
}
header hgroup {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  border: 5px solid black;
  padding: .5em 3em;
  background-color: rgba(0, 0, 0, 0.2);
  z-index : 2;
}
header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:#333 center no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 0;  -webkit-filter: blur(4px);
}
img{
  margin-right:20px
}
.site {
  padding: 2em 0;
  text-align: center;
  background-color: #efefef;
  font-size: .8em;
  color: #444;
  position:relative
}


